body {
  margin: 0;
  padding: 0;
  background-image: url('C:\Users\HP\Desktop\js\react\blog\text\public\2024, 9_52_17 GMT+5_30.png');
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Optional, for a fixed background */
}

